html {
  --flex-direction: column;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

html {
  background-color: whitesmoke;
}

button,
form,
.MuiButton-root,
p {
  display: inline-block;
  padding: 0px 10px;
}
li {
  list-style-type: none;
}
#InsertDialog {
  position: fixed;
  bottom: 5px;
  left: 28em;
  background-color: whitesmoke;
}
#InsertButton {
  margin-left: 10px;
}
.TopLinks {
  display: inline-block;
  margin: 10px;
}
.AdminBlock {
  width: 180px;
  margin: 10px;
  border: #9500ff solid 3px;
  border-radius: 10px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
#SubmitButton {
  display: block;
}
ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: var(--flex-direction);
}
.UserBlock {
  text-align: left;
  padding-left: 40vmax;
}
#DeleteButton,
#EditButton {
  margin: 5px;
}
.LanguageButtons {
  display: inline-block;
  margin: 10px;
}
#BackButton {
  position: fixed;
  right: 5px;
  top: 5px;
}
.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
